@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-sans: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

button,
.cursor {
    cursor: pointer;
}

.Toastify__toast-container {
    --toastify-font-family: 'Cairo', sans-serif;
}